@import "colors";

header {
  background:#ffffff;

}

body{
  padding-top: 80px;

}

.navex .navbar-brand>img {
  padding: 7px 15px;
}

.navbar-custom{
  color:$secondary-text-color;
  font-weight: bold;
}

.main {
  margin-bottom:10px;
  margin-top:10px;

}


/*footer {
  background:#16a085;
  color:#fff;
}*/

.navbar.navbar-default {
  background-color: #99ccff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $secondary-text-color;
  font-weight: bold;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $secondary-text-color;
  font-weight: bold;
}


.footer1 {
  //position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #ececec;
  margin-top: 40px;
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}


.title-widget {
  color: #898989;
  font-size: 20px;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
  background-color: darkblue;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 2px;
}



.widget_nav_menu ul {
  list-style: outside none none;
  padding-left: 0;
}

.widget_archive ul li {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 3px;
}


.widget_nav_menu ul li {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 7px;
  padding-bottom: 7px;
  width:95%;
}

.nomargin { margin:0px; padding:0px;}

.copyright {
  color: $secondary-text-color;
  font-weight: bold;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}

// For static_pages#index
.card {
  height: 100%;
}

blockquote {
  border-left-color: transparent !important;
}

.space {
  margin-top: 40px;
}







